asgiref==3.5.0
attrs==21.4.0
cached-property==1.5.2
certifi==2021.10.8
charset-normalizer==2.0.12
Django==4.0.3
django-render-partial==0.4
idna==3.3
isodate==0.6.1
lxml==4.9.1
Pillow==9.0.1
platformdirs==2.5.1
pytz==2021.3
requests==2.27.1
requests-file==1.5.1
requests-toolbelt==0.9.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.8
zeep==4.1.0
