<!DOCTYPE html>
{% load render_partial %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>صفحه اصلی | فروشگاه کارزیبا</title>
    {% include 'shared/_HeaderRefrences.html' %}{% block header_ref %}{% endblock %}
</head>
<body>
{# django-render-partial helps to send partials variables from backend #}
{% render_partial 'header' %}
{% block content %}{% endblock %}
{% block footer_ref %}{% endblock %}
{% render_partial 'footer' %}
{% include 'shared/_FooterRefrences.html' %}
</body>
</html>